[Desktop Entry]
Name=Emacs
GenericName=Text Editor
Comment=Edit text
Exec=/usr/bin/emacs --daemon
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=Emacs
